body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    padding: 100px;
}

h1{
    text-align: center;
}

#parent {
    min-height: 400px;
    background-color: #c6e7ea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
}

#draggable-circle {
    width: 150px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: grid;
    place-content: center;
    background-color: #720b72;
    color: white;
    padding: 15px;
}

#droppable-box {
    width: 250px;
    aspect-ratio: 1/1;
    display: grid;
    place-content: center;
    background-color: #ccc;
}

#droppable-box.dropped {
    background-color: blue;
    color: white;
    animation: scaleUpDown 2s ease-in-out;
}

@keyframes scaleUpDown {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}