body{
    max-width: 800px;
    margin:auto;
    background-color: rgb(255, 253, 250);
}

h1, h2, p, ol li{
    /* margin:0;
    padding:0; */
    color: rgb(60, 60, 60);
}

h1{
    font-family: "Google Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "GRAD" 0;
}

h2{
    font-family: "Google Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "GRAD" 0; 

    border-top: 1px solid black;
    padding-top: 20px;
}

p, ol li, ul li{
    font-family: "Google Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "GRAD" 0; 

    line-height: 1.5em;

    margin: 10px 0;
}